.candle {
	min-height: 10px;
	width: 25px;

	position: absolute;
}

.wick {
	width: 3px;
	min-height: 1px;
	margin-left: 30px;

	background-color: gray;

	display: flex;
	justify-content: center;
	align-items: self-end;
}

.bull {
	background: linear-gradient(to right, green 0%, rgb(0, 78, 0) 100%);
}

.bear {
	background: linear-gradient(to right, red 0%, rgb(163, 0, 0) 100%);
}